<form>
    <div class="input-group">
        <div class="input-row">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="input-row">
            <label>Descriptions</label>
            <input type="text" name="description" placeholder="Descriptions">
        </div>
        <div class="input-row">
            <label>Image</label>
            <input type="text" name="img" placeholder="Image URL">
        </div>
        <div class="input-row">
            <label>Location</label>
            <input type="text" name="location" placeholder="Location ID">
        </div>
        <div class="input-row">
            <label>Link</label>
            <input type="text" name="link" placeholder="Link">
        </div>
        <div class="input-row">
            <label>Link Description</label>
            <input type="text" name="linkdescription" placeholder="Description">
        </div>
    </div>
    <a class="button button-block button-positive item-link-add">Add Link</a>
    <a class="button button-block button-negative item-delete">Delete</a>
</form>