<form>
    <div class="input-group">
        <div class="input-row">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div class="input-row">
            <label>Descriptions</label>
            <input type="text" name="description" placeholder="Descriptions">
        </div>
        <div class="input-row">
            <label>Image</label>
            <input type="text" name="img" placeholder="Image URL">
        </div>
        <div class="input-row">
            <label>Location</label>
            <input type="text" name="location" placeholder="location id">
        </div>
    </div>
</form>