extends layout

block content
  ul.inset.list
    li.list-divider Features
    each event in events
      li
        - var date = event.start.shortdate
        - var active = event.feature == 'true' ? 'active' : ''
        span.eventlabel #{event.summary}
        if (event.image)
          div(class="toggle #{active}", data-id=event._id)
            .toggle-handle
        else
          span.count= date