extends layout

block content
  .admin
    h2.title Admin Pages
    - var list = [ ['admin/features', 'Edit Features' ] ]
    - list.push(['admin/Venue', 'Edit Venues' ])
    - list.push(['admin/Organization', 'Edit Organizations' ])
    - list.push(['admin/Gallery', 'Edit Galleries' ])
    ul.inset.list
      each page in list
        li
          a(href=page[0], data-transition='slide-in')
            span= page[1]
            span.chevron
