extends layout

block head
 link(rel='stylesheet', type='text/css', href='/datepicker/JQ/jquery-ui.css')

block content
  br
  br
  br
  br
  p
    | Date:
    input#datepicker(type='text')

block script
  //script(type='text/javascript', src='/datepicker/JQ/jquery-1.9.1.js')
  //script(type='text/javascript', src='/datepicker/JQ/jquery-ui.js')
  script
    $(function() {
    $( "#datepicker" ).datepicker();
    })