li
    - var event = e.toObject();
    - var date = event.start.shortdate;
    a(href='event/#{event._id}', data-transition='slide-in', data-guid='#{event.guid}')
        span.eventlabel #{event.summary}
        span.chevron
        span.count= date
