.slider
	ul
		li
			img(src='/img/feature-theatre.jpg')
			span.slide-text â† Slide me
		li
			img(src='/img/feature-writing.jpg')
		li
			img(src='/img/feature-music.jpg')
		li
			img(src='/img/feature-dance.jpg')
		li
			img(src='/img/feature-visart.jpg')
