ul.list.inset
    each galleryItem in data
        li
            a(href='galleries/#{galleryItem.title}', data-transition='slide-in')
                | #{galleryItem.title}
            span.chevron

