extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .hero-unit
      h1 Cheerio!
      p You now have
      ul
        li HTML5 Boilerplate
        li jQuery
        li Backbone.js
        li Lodash
        li Mocha
      p installed.
      h3 Enjoy coding! - Yeoman