extends layout

block content
    .slider
      ul
        each feature in features
          li
            img.full-img(src=feature.image)
            h2
              a(href='event/#{feature._id}', data-transition='slide-in')
                span= feature.summary


    br

    include eventlists

    br

    center
         a(href='http://arts.duke.edu/') Go to Duke Arts Website
    br
    br