extends layout

block content
    img.full-img(src=data.img)
    #detail
        h2= data.title
        br
        p= data.description
        br

        each link in data.links
            a.button-block(href=link.link)= link.description
