extends layout
block content
			img.venue-img(src='img/jazz.jpg')
			.content-padded
			h2 Jazz @
			br
			p Jazz@ provides live jazz concerts across campus throughout the semester. Most Wednesday nights Jazz@ features the famous John Brown and his house band
			br
			p Mary Lou Williams Center for Black Culture, bringing the smooth sound of jazz just off the plaza.
			br
			p Below you will find the dates that Jazz is set for the 2010-2011 Academic Year.Jazz @ is co-sponsored with DUU and Jazz Studies (Music Department).
			br
			img.event-map(src='img/event-map.png')
			ul.list.inset
				li
					strong Additional Information
					span.chevron
				li
					strong List of Jazz@ Events
					span.chevron
				li
					strong Contact
					span.chevron
