extends layout

block content
    br
    ul.list.inset
        each item in data
            li
                a(href='#{path}/#{item.title}', data-transition='slide-in')
                    | #{item.title}
                span.chevron
    br
    br

