extends layout
block content
    ul.list.inset
        li
            a(href='http://')
                strong Chamber Music
                span.chevron
        li
            a(href='http://')
                strong Chorale
                span.chevron
        li
            a(href='http://')
                strong Collegium Musicum
                span.chevron
        li
            a(href='http://')
                strong Djembe
                span.chevron
        li
            a(href='http://')
                strong New Music Ensemble
                span.chevron
        li
            a(href='http://')
                strong Jazz
                span.chevron
        li
            a(href='http://')
                strong Opera Workshop
                span.chevron
        li
            a(href='http://')
                strong Symphany Orchestra
                span.chevron
        li
            a(href='http://')
                strong Wind Symphony
                span.chevron