extends layout
block content
			img.full-img(src='img/Page-Auditorium.jpg')
			.content-padded
			h2 Page Auditorium
			br
			p The 1,232-seat auditorium hosts numerous musical and stage performances, including many Duke Performances shows. Located next to the Duke Chapel, Page Auditorium is connected to Flowers Building and shares its entranceway.
			br
			p As you walk into the Bryan Center parking lot from Science Drive on West Campus, Page Auditorium is in front of you and off to your left. Walk up the stairs between the Duke Chapel and Page Auditorium to enter the main doors and for the box office. Note: The handicapped entrance and direct access to orchestra level seating is located at the side of the auditorium off of the Bryan Center parking lot.
			br
			img.event-map(src='img/event-map.png')
			ul.list.inset
				li
					strong Additional Information
					span.chevron
