ul.list.inset
    each venueItem in data
        li
            //span= venueItem.title
            a(href='venues/#{venueItem.title}', data-transition='slide-in', data-guid='#{venueItem.title}')
                | #{venueItem.title}
            span.chevron

