extends layout

block content
    include venuelists
    br
    br
    ul.list.inset
        li
            a(href='http://')
                strong Baldwin Auditorium
                span.chevron
        li
            a(href='http://')
                strong Biddle Music Building
                span.chevron
        li
            a(href='/pageaud')
                strong Page Auditorium
                span.chevron
        li
            a(href='http://')
                strong The Coffee House
                span.chevron
        li
            a(href='http://')
                strong  Mary Lou Williams Center
                span.chevron
        li
            a(href='http://')
                strong Reynolds Theater
                span.chevron
        li
            a(href='http://')
                strong Griffith Auditorium
                span.chevron
        li
            a(href='http://')
                strong The ARK
                span.chevron
        li
            a(href='http://')
                strong American Dance Festival
                span.chevron
        li
            a(href='http://')
                strong  McClendon Tower
                span.chevron
        li
            a(href='http://')
                strong  Nelson Music Room
                span.chevron
        li
            a(href='http://')
                strong  Duke Gardens
                span.chevron
        li
            a(href='http://')
                strong  Casbah Durham
                span.chevron
        li
            a(href='http://')
                strong  Duke Performing Arts Center
                span.chevron
