#calendar
  width: 99.1%

  .ui-widget-header
    background: none
  .ui-datepicker-inline
    width: 100%

  th
    background: #E4EDFA
    border-left: 1px solid #E2E7ED
    border-top: 1px solid #E2E7ED
    border-right: 1px solid #9DACBE
    border-bottom: 1px solid #9DACBE

  td
    padding: 0
    height: 40px
    border-left: 1px solid #E2E7ED
    border-top: 1px solid #E2E7ED
    border-right: 1px solid #9DACBE
    border-bottom: 1px solid #9DACBE

    &.ui-datepicker-unselectable, &.ui-state-disabled
      background: #c3ccd5;
      background: -moz-linear-gradient(top,  #c3ccd5 0%, #ffffff 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3ccd5), color-stop(100%,#ffffff));
      background: -webkit-linear-gradient(top,  #c3ccd5 0%,#ffffff 100%);
      background: -o-linear-gradient(top,  #c3ccd5 0%,#ffffff 100%);
      background: -ms-linear-gradient(top,  #c3ccd5 0%,#ffffff 100%);
      background: linear-gradient(to bottom,  #c3ccd5 0%,#ffffff 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3ccd5', endColorstr='#ffffff',GradientType=0 );


    background: #e5eefb
    background: -moz-linear-gradient(top,  #e5eefb 0%, #b9c1ca 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5eefb), color-stop(100%,#b9c1ca))
    background: -webkit-linear-gradient(top,  #e5eefb 0%,#b9c1ca 100%)
    background: -o-linear-gradient(top,  #e5eefb 0%,#b9c1ca 100%)
    background: -ms-linear-gradient(top,  #e5eefb 0%,#b9c1ca 100%)
    background: linear-gradient(to bottom,  #e5eefb 0%,#b9c1ca 100%)
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5eefb', endColorstr='#b9c1ca',GradientType=0 )

    vertical-align: middle
    position: relative

    &:hover
      background: #f4f8fd
      background: -moz-linear-gradient(top,  #f4f8fd 0%, #c3cad1 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f8fd), color-stop(100%,#c3cad1))
      background: -webkit-linear-gradient(top,  #f4f8fd 0%,#c3cad1 100%)
      background: -o-linear-gradient(top,  #f4f8fd 0%,#c3cad1 100%)
      background: -ms-linear-gradient(top,  #f4f8fd 0%,#c3cad1 100%)
      background: linear-gradient(to bottom,  #f4f8fd 0%,#c3cad1 100%)
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fd', endColorstr='#c3cad1',GradientType=0 )

    &.ui-datepicker-today
      a
        color: white

      background: #4f85bb;
      background: -moz-linear-gradient(top,  #4f85bb 0%, #4f85bb 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb));
      background: -webkit-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
      background: -o-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
      background: -ms-linear-gradient(top,  #4f85bb 0%,#4f85bb 100%);
      background: linear-gradient(to bottom,  #4f85bb 0%,#4f85bb 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 );

      -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
      box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.8);

    a
      text-align: center
      margin: 0
      padding: 0
      background: none
      border: none




