.head-img
  position: relative
  min-height: 100px

.featured-img
  max-width: 100%

.event-date
  position: absolute
  bottom: 4px
  left: 20px

  padding: 20px 10px

  background: rgba(255, 50, 50, 0.7)

.month, .date
  color: #fff
  text-align: center

.month
  text-transform: uppercase
  font-size: 24px
  line-height: 20px
  margin-top: 5px

.date
  font-size: 30px
  line-height: 32px