body
  padding-top: 43px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.listimg
  max-width: 400px

// Overrides
.nav
  padding-top: 0
#calendar .ui-datepicker
  width: 100%

@import 'maps'
@import 'eventPage'