body
  padding-top: 43px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#logo
  max-height: 100%
  margin: 0 auto
  display: block

.bar-title
  // Use nib to include css3
  background-image: -webkit-linear-gradient(top, #2b2b2b 0, #000000 100%)

.bar-tab
  position: relative
  height: 40px
  .tab-item
    padding-top: 4px

.bar-title ~ .content
  top: 83px

.listimg
  max-width: 400px

// Overrides
.nav
  padding-top: 0
.content-padded
  padding: 0
#calendar .ui-datepicker
  width: 100%

@import 'maps'
@import 'eventPage'