#event-header-left {
	float: left;
}

#event-header-right {
	float: right;
}

.description {
	clear: both;
	line-height: 1.5;
	color: #555;
	padding-top: 12px;
}

.content-padded {
	line-height: 1.5;
	color: #555;

}

p {
	padding-bottom: 8px;
	}

h2 {
	font-size: 16px;
	line-height: 22px;
}

h3 {
	font-weight: normal;
	font-size: 14px;
}

.expand {
	color: blue;
}

#event-date{
	position: absolute;
	bottom: 0;
	margin-left: 20px;
	/*margin-top: 156px;*/

	background: rgb(255, 0, 0) ; opacity: 0.8;
	z-index: 1;
	width: 70px;
	height: 60px;
	margin-bottom: 4px;
}

.month, .date {
	color: #fff;
	text-align: center;
	}
	
.month {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 20px;
	margin-top: 5px;
}

.date {
	font-size: 30px;
	line-height: 32px;
}

#image{
	z-index: 2;
}

#head-img{
	position: relative;
}

img.event-map{
	width:300px;
	padding: 10px;
}

img.featured-img{
	width: 320px;
	}
	
div#gotomap{
	color: white;
	background: rgb(255, 0, 0) ; opacity: 0.8;
	padding: 4px;
	z-index: 1;
	position: absolute;
	bottom: 14px;
	margin-left: 223px;
}

a#gotomaplink {
	color: white;}

.map-link{
	position: relative;
}